* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* MENU */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: #ffd700;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("imagens/campo.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.content {
  position: relative;
  text-align: center;
  color: white;
  max-width: 600px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 30px;
  font-size: 16px;
}

.btn {
  padding: 12px 30px;
  background: #ffd700;
  color: black;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.btn:hover {
  background: white;
}

/* PRODUTOS */
.produtos {
  padding: 80px 50px;
  text-align: center;
}

.produtos h2 {
  margin-bottom: 40px;
  font-size: 32px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #f5f5f5;
  padding: 30px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  
}

.preco {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
